@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #001b22;
}

.loader div {
	animation: bounce 1s ease-in-out infinite;
}
.loader div:nth-child(1) {
	background-color: #3498db;
	animation-delay: 0.1s;
}
.loader div:nth-child(2) {
	background-color: #f39c12;
	animation-delay: 0.2s;
}
.loader div:nth-child(3) {
	background-color: #27ae60;
	animation-delay: 0.3s;
}

.with-scroll::-webkit-scrollbar {
	width: 7px;
}

.with-scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #505050;
}

@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(0px);
	}
}